/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/12/2013, 17:41:49
    Author     : yurifw
*/

input {
    height: 15px;
    border-color: white;
    border-style: solid;
}

#txtCronica{
    padding-bottom: 15px;
}

#menudiv {
    display: none;
}

