/* 
    Document   : FichaRPG
    Created on : Nov 4, 2013, 10:25:09 AM
    Author     : ywaki
    Description:
        Purpose of the stylesheet follows.
*/

#ficha{
    /*background-image:url('../imagens/FichaMascara.jpg');*/
    width: 1074px;
    height: 1434px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: absolute;
}
.Cabecalho{
    /*
    border-color: white;
    border-style: solid;
    */
    
/*    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: black;
    border-style: solid;*/
}


.Atributo {
    
}




